*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
/* nav bar*/
.Cartbag{
 height: 30px;
 width: 30px;
}
.logo img{
    width: 100px;
}
.Navbar{
   display: flex;
   align-items: center;
   padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding-left: 50px;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    padding-top: 8px;
}
.btn{
    display: inline-block;
    background-color: rgb(255, 166, 0);
    color: white;
    padding: 8px 30px;
    margin: 25px 0;
    border-radius: 30px;
}
.header{
    background-color: rgba(144, 238, 144, 0.201);
}
.header .row{
    margin-top: 70px;
}
.btn:hover{
    background: black;
    transition: 0.5s;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 0 25px ;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80PX;
    line-height: 60px;
    color: #555;
    text-decoration: underline;
    text-underline-offset: 10px;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating {
    color: rgb(255, 208, 0);
}
.col-4:hover{
    transition: transform 0.5s;
    transform: translateY(-5px);
}
.brands{
    margin: 100px 40px;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    border-color: #555;
    border-bottom: #555;
}
/*footer*/
.footer{
    background-color: black;
    color: lightgray;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: lightgrey;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 100px;
    margin-bottom: 8px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    width: 120px;
}
.copyright{
    text-align: center;
    margin-top: 10px;
}
.menu-icon{
  display: none;
  width: 28px;
  margin-left: 10px;
}

/*Mens Collection*/
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
select{
  border: 2px;
  border-color: orange;
  border-style: solid;
  padding: 6px;
  outline: none;
}
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 3px solid orange;
  margin-left: 10px;
  width: 40px;
  text-align: center;
  line-height: 1.6;
}
.page-btn span:hover{
  color: white;
  cursor: pointer;
  background-color: orange;
}

/*expand page*/
h4.Offer{
    text-decoration: line-through;
    display: inline-block;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
    width: 100%;
}
.single-product .col-2{
    padding: 30px;
}
.single-product h4 .Offer{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px ;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 3px;
    border-color:orange;
    border-style: solid;
    outline: none;
}
.single-product .fa-solid{
    color: rgb(255, 64, 0);
    margin-left: 10px;
}
.dot{
    list-style-type: disc;
}
.small-image-row{
    display: flex;
    justify-content: space-between;
}
.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}
.Row-2{
text-decoration: none;
}

/*cart*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:  white;
    background-color: orangered;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: orangered;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;

}
.total-price table{
    border-top: 3px;
    border-top-color:orange;
    border-top-style: solid;
    width: 100%;
    max-width: 470px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*account page*/
.account-page{
    padding: 50px 0;
    background:rgba(144, 238, 144, 0.201);
}
.form-container{
    background: white;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;    
}
.form-container form{
    margin-top: 65px;
    max-width: 300px;
    padding: 0 20px;
    top: 130px;

}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding:  0 10px;
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 11px 0;
}

form a{
    font-size: 12px;
}
.Style:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
span:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

/*contact*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5f5f5;
    color: #333333;
  }
  .contact-section {
    max-width: fit-content;
    margin: auto ;
    background-color: #ffffff;
    padding: 40px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.374);
    border-radius: 10px;
  }

  .contact-section h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #222;
  }
  
  .contact-section p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #b0a3a3;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
  }
  .wrapper {
  width: 100%;
}

/* For tab*/
@media screen and (max-width: 767px) {

    nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      margin-top: 25px;
      overflow: hidden;
      transition: max-height 0.5s;
    } 
    nav ul li{
      display: block;
    }
    .menu-icon{
      display: block;
      cursor: pointer;
    }
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    /*expand page*/

    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 39px;
        line-height: 1.6;
    }

    /*cart*/
    .cart-info p{
        display: none;
    }
}
